.git
.gitignore
.venv
.mypy_cache
.pytest_cache
.pylintrc
**/__pycache__
**/*.pyc
**/.DS_Store
tests
frontend/node_modules
frontend/dist
src/kinder_blockly/static
src/kinder_blockly.egg-info
prpl_requirements.txt
pylint_plugins
run_autoformat.sh
run_ci_checks.sh
